# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*
.pnpm-store

# .env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# openapi
openapi.yaml
